<app-navbar></app-navbar>

<div class="about-container">
  <div class="about-me">
    <h1>Impressum</h1>
    <p>
      <strong>Klinton Mita</strong><br>
      Web Developer<br>
      Nonnenpfad 1<br>
      49074 Osnabrueck, Germany<br><br>

      Phone: 01781884097<br>
      Email: info&#64;klintonmita.de<br><br>

      Responsible for content according to § 55 Abs. 2 RStV:<br>
      Klinton Mita, Address as above.<br><br>

      <strong>Disclaimer:</strong><br>
      The content of this website has been created with the utmost care. However, I cannot guarantee the accuracy, completeness, or timeliness of the content. As a service provider, I am responsible for my own content on these pages in accordance with general laws. However, I am not obligated to monitor transmitted or stored external information or to investigate circumstances that indicate illegal activity.
    </p>
  </div>
</div>

<div class="footer-end">
  <app-footer></app-footer>
</div>
