<app-navbar></app-navbar>

<div class="about-container">
  <div class="about-me">
    <h1>Contact</h1>
    <p></p>
    <div>
      <p>Name: Klinton Mita</p>
      <p>Phone: 0178 188 40 97</p>
      <p>Email: info&#64;klintonmita.de</p>
      <p>Web: <a href="https://klintonmita.de/#/">klintonmita.de</a></p>
      <p>Github: <a href="https://github.com/KlintonMita">Link</a></p>
      <p>Linkedin: <a href="https://www.linkedin.com/in/klinton-mita/">Link</a></p>
    </div>
  </div>
</div>

<div class="footer-end">
  <app-footer></app-footer>
</div>
