<app-navbar></app-navbar>

<div class="container">
  <app-search-news
  (searchResults)="handleSearchResults($event.articles, $event.error)"
  [hideMainNews]="hideMainNews.bind(this)">
</app-search-news>

  <div class="mainnews" id="mainnews" *ngIf="!isSearchMode && newsArticles.length > 0">
    <ul class="news-list">
      <li *ngFor="let article of newsArticles" class="news-item">
        <h2>{{ article.title || article.headline.main }}</h2>
        <p>{{ article.abstract || article.snippet }}</p>
        <a [href]="article.url || article.web_url" target="_blank">Read more</a>
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
